body {
  font-size: calc(1rem + 1vw);
  margin: 0px;
  font-family: var(--font);
}
p {
  font-size: calc(0.8rem + 1vw);
  border-style: double;
  width: 1280px;
  color: white;
}
h1 {
  font-style: italic;
  font-size: calc(1rem + 3.5vw);
  background-color: white;
  color: white;
  padding: var(--padding-lg) var(--padding-xl);
  margin: var(--margin-lg) auto;
  text-decoration: underline overline
}

img {
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
}

button {
  background-color: black;
  color: white;
  border: 2px solid blue;
}

div {
  color: white;
}