body {
  font-size: calc(1rem + 1vw);
  background: var(--page-color);
  margin: 0px;
  font-family: var(--font);
  background-color: rgb(255, 255, 255);
  color:rgb(94, 16, 16)
}
p, ol li, ul li {
  font-size: calc(0.8rem + 1vw);
  border-style: double;
  width: 1280px;
}
h1 {
  font-style: italic;
  font-size: calc(1rem + 3.5vw);
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: var(--padding-lg) var(--padding-xl);
  margin: var(--margin-lg) auto;
  text-decoration: underline overline
}

img {
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
}