<!DOCTYPE html>
<html style = "height:100%">

<head>
	<title>Our Product Cost</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body style = "min-height:100%;">

    <h1>Our Product Costs</h1>

    <a href = "/"><button> Main Page </button> </a>

    <p>The cost to build our product includes:</p>
    <ul>
        <li>Camera to capture the items going into the fridge - $17</li>
        <li>Contact sensor to detect fridge door opening and closing - $4</li>
        <li>MCU for running our program for detecting items, Pi/Pi Pico/Pi Zero - $5-$25</li>
    </ul>
    <p>Monthly costs:</p>
    <ul>
        <li>Labor for developing and marketing - I will work for free, I don't know the hourly wage for my teammates.</li>
        <li>Manufacturing - For now, we will hand make this product and deliver them to your doorsteps. I would, once again, work for free, but shipping cost is estimated to be around $10 per product.</li>
    </ul>
</body>
</html>