<!DOCTYPE html>
<html style = "height:100%">

<head>
	<title>Features</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body style = "background-color:rgb(50, 50, 50);min-height:100%;">

    <h1>Top 5 Features vs Benefits</h1>

    <a href = "/"><button> Main Page </button> </a>

    <div>The top 5 features for our product are:</div>
        <ol>
            <li>Keeps track of all the items in the fridge, along with basic information like when it was put in the fridge.</li>
                <ul>
                    <li>The benefit of this feature is that it allows for user to not have to mentally keep track of items in their fridge.</li>
                    <li>Customers who have trouble keeping what's in their fridge in their head will benefit from this feature, and is important to them because it will save them money when they're grocery shopping, since they won't be buying items that is already in their fridge.</li>
                </ul>
            <li>Updates items without having to do any extra manual work, simply have to just put items in the fridge as normal.</li>
                <ul>
                    <li>The benefit of this feature is that it allows for user to not have to do any extra work to use our product other than initial setup.</li>
                    <li>Customers who are lazy will benefit from this feature, as they will not have to do any extra work to keep track of their fridge, as opposed to keeping a physical list of items in the fridge.</li>
                </ul>
            <li>Easy initialization where you just take a picture from where the camera is without any item in view.</li>
                <ul>
                    <li>Customers do not have to struggle with the product out of the box with complex initialization steps.</li>
                    <li>Customers who are not very tech savvy will benefit from this feature, as other products could have complicated procedures for calibration and initialization that they are not used to.</li>
                </ul>
            <li>Turns a regular fridge into a pseudo-smart fridge, saving our customers a lot of money and thinking.</li>
                <ul>
                    <li>The benefit of this feature is that it allows for user who are unable to change their current fridge or don't want to buy a smart fridge to be able to use their fridge like a smart one.</li>
                    <li>Customers who are unable to change their fridge, such as leasers of an apartment or those who are on a tight budget will benefit from this feature, as they will get the benefits of a smart fridge and more without having to spend thousands on it.</li>
                </ul>
            <li>Small, compact design that can be placed and is compatible with most,if not all, refrigerators.</li>
                <ul>
                    <li>The benefit of this feature is that it allows for users to be able to buy our product without having to think about compaitiblity with their fridge.</li>
                    <li>Customers who live in a small house with not much clearance will benefit from this feature, as they can have very small sized fridges which will be compatible with our product.</li>
                </ul>
        </ol>
    </body>
</html>