<!DOCTYPE html>
<html style = "height:100%">

<head>
	<title>Information Architecture</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body style = "background-color:rgb(50, 50, 50);min-height:100%;"></body>

    <h1>Information Architecture</h1>

    <a href = "/"><button> Main Page </button> </a>

    <h4>Information Architecture Analysis:</h4>

    <h5>Some basic information a typic user would need to interact with our product are:</h5>

    <ul>
        <ol>
            <li>Where on the refrigerator the product needs to be placed.</li>
            <li>Where the sensors need to be placed on the refrigerator door to detect it open.</li>
            <li>How to initailly calibrate camera to get the best pictures.</li>
            <li>How to check the list of items in the refrigerator using the app.</li>
        </ol> 

        <div>I believe for our product, Principle of Exemplars is going to be very important, as we want our product to be as consistent as possible in detecting objects that goes in the fridge, as well as displaying the object in the application in a determined and consistent order.</div>
    
        <div>Structure Organization Principle that makes the most sense for our product is Topical and Alphabetical, since grouping items with other items in similar categories and listing them alphabetically would allow for the easiest navigation around the list of items compared to Hierarchial or Chronological. This would also have some Sequential elements.</div>
    </ul>
</body>
</html>