<!DOCTYPE html>
<html style = "height:100%">

<head>
	<title>Grocery Tracker</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body style = "background-color:rgb(255, 255, 255);min-height:100%;">

	<h1>Grocery Tracker</h1>

	<p> <a href = "product" target="_blank"> Some more information about our product </a> </p>

	<p> <a href = "KVP" target="_blank"> KVP of our product </a> </p>

	<p> Hello, our project is the Grocery Tracker. By putting it on one of the doors of the refrigerator you can track what grocery items you have in your fridge. When you open the door, it scans the grocery item being put in and makes a record of it on your account, which will be hosted on a website. It also keeps track of its expiration date and can notify you if it is coming up</p>
	<p> My team consists of me, Maxime Ghesquiere, Jacob Camarillo and Joshua Smith, all wonderful engineers that will work our hardest. :)</p>
	
	<div> Here's one of my cats, I'll show you guys the other one if you give us an A. :)</div>
	<img src="images/leny.jpg" alt = "cat" width = "200" height = "300"/> </img>

</body>
</html>