<!DOCTYPE html>
<html style = "height:100%">

<head>
	<title>Ihyun Park</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style = "background-color:lightblue;min-height:100%;">

	<h1>Ihyun Park</h1>

	<img src="images/leny.jpg" alt = "cat" width = "200" height = "300" style = "border-radius:15px"/> </img>


	<p> Hello, my name is Ihyun Park, but I go by Leo. I came from South Korea around 12 years ago and have been living here since. Some of my hobbies are: BJJ, video games, playing with cats and building keyboards. </p>
	<p> Here is my <a href="https://www.linkedin.com/in/ihyun-park-b778b4228/">linkedin</a> and yeah.</p>

	<p> <a href = "music" target="_blank"> My Music Website </a> </p>
	<hr>

	<h2>My schedule</h2>

	 <table border = "1">
		<tr>
			<th>Classes</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
		</tr>
		<tr>
			<td>ECE 107</td>
			<td>None</td>
			<td>12:30 - 1:50</td>
			<td>1:00-1:50</td>
			<td>12:30 - 1:50</td>
		</tr>
		<tr>
			<td>ECE 140A</td>
			<td>None</td>
			<td>11:00-12:20</td>
			<td>4:00-5:50</td>
			<td>11:00-12:20</td>
		</tr>
		<tr>
			<td>ECE 172A</td>
			<td>None</td>
			<td>3:30-4:50</td>
			<td>7:00-7:50</td>
			<td>3:30-4:50</td>
		</tr>
		<tr>
			<td>ECE 175A</td>
			<td>5:00-8:50</td>
			<td>None</td>
			<td>None</td>
			<td>None</td>
		</tr>
		</table> 
	<hr>

	<p style="color:blue;font-family:Times"> <em> Contact Me: </em></p>

	<ul>
		<li> <a href="http://artofproduct.us/" target="_blank">ECE UCSD Homepage</a> </li>
		<li> <a href="MSI_Bios.pdf" download>How to flash MSI Bios</a> </li>
		<li> <a href="mailto:ihpark@ucsd.edu?subject=Hello">Email</a> </li>
	</ul>
	
</body>
</html>