<!DOCTYPE html>
<html style = "height:100%">

<head>
	<title>Grocery Tracker</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body style = "background-color:rgb(255, 255, 255);min-height:100%;"></body>

    <h1>Key Value Proposition</h1>

    <p> <a href = "index" target="_blank"> Main Page </a> </p>

    <p>One aspect that our product shines over other competition is convenience. There are other grocery trackers that requires the user to manually input their groceries but our product does it automatically using computer vision with no necessary manual input from the user.</p>

</body>
</html>