<!DOCTYPE html>
<html style = "height:100%">

<head>
	<title>Pivots</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body style = "min-height:100%;">

    <h1>Some Pivots We Made or Will Make</h1>

    <a href = "/"><button>  Main Page </button> </a>

    <p>Some Major Pivots We Made so Far: </p>
    <ul>
        <li>Changed from a website to an application available on IOS for simplicity and accessibility.</li>
            <ul>
                <li>I believe this to be a Customer Need Pivot, since having an app to open would be a lot more convenient for customers than having to navigate to a specific website everytime they need to check their fridge.</li>
            </ul>
        <li>Was planning on using a battery to power it inside the fridge, but switched to an outlet powered and resting on top of the fridge looking down to cut down on the battery costs.</li>
            <ul>
                <li>I believe this to be a Customer Need Pivot, since not a lot of customers would appreciate or like having to recharge or replace the batter every set amount of time, and having it plug and use would be much more convenient and satisfactory for our customers.</li>
            </ul>
        <li>Changed the detection algorithm from using ClarifAI API to a local, pre-trained YOLO model to detect grocery items for efficiency and accuracy purposes.</li>
            <ul>
                <li>I believe this to be a Zoom-in Pivot, since ClarifAI had the features to list out all of the items that the item "could" be, but use of the YOLO detection throws that out for higher accuracy. This could also be a technology pivot, since we could have launched it with ClarifAI, but a well-trained YOLO model would be much more accuracte and satisfy the customers more.</li>
            </ul>
    </ul>

</body>
</html>