<!DOCTYPE html>
<html style = "height:100%">

<head>
	<title>Grocery Tracker</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body style = "background-color:rgb(50, 50, 50);min-height:100%;"></body>

    <h1>Our UI Idea~</h1>

    <a href = "/"><button> Main Page </button> </a>

    <p>In my projected UI, we will have a contact sensor on the fridge door which will communicate to the camera when the fridge door is open. When it is open, it will begin to scan for items. As the owner puts in items into the fridge it will scan until the door is closed. When the door is closed, it will send the footage divided into images, with one image per unique item scanned, to our server which will classify it using website classification api. Then it will send the labels to our database which will update the owner in live time.</p>

	<p> My projected UI: </p>
	<img src="images/UI.jpg" alt = "our_ui" width = "800" height = "500"/> </img>

    <p> Now allow me to show you some examples of some of laws in UX design</p>
    <p> First is Hick's Law. This law is shown in remotes, where recently remotes have becomes a lot simpler with lot of options being able to be fulfilled with just the direction key buttons: </p>
    <img src="images/index.jpg" alt = "our_ui" width = "800" height = "500"/> </img>
    <p> Second is Jacob's Law, where people prefer UI that they are already familiar with, which is showcased by the UI rework by youtube, where they did make things simpler, but kept the general structure of the UI same, in an effort to make it easier on existing customers and users: </p>
    <img src="images/jacon.jpg" alt = "our_ui" width = "800" height = "500"/> </img>
    <p> Third is Miller's Law, example shown is Nike's website, where Nike listed only three items per row in big pictures in an effort to leave a lasting impression on people's minds: </p>
    <img src="images/nike.jpg" alt = "our_ui" width = "800" height = "500"/> </img>
</body>
</html>