<!DOCTYPE html>
<html style = "height:100%">

<head>
	<title>Grocery Tracker</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body style = "background-color:rgb(50, 50, 50);min-height:100%;"></body>

    <h1>Our UI Idea~</h1>

    <a href = "/"><button> Main Page </button> </a>

    <p>Our product is generally for those who have trouble keeping up with what is in their refrigerator. It scans and keeps track of everything that goes in and out of your refrigerator. By using images of common grocery items, we can train our system to detect and classify whatever it detects through a camera input and pull up information about that grocery item and store it into the customer's database to keep track. By using this product, you will know what is in your fridge even when you're outside and be notified if they are running low on a certain item or if a certain item is about to expire.</p>

	<p> Empathy Map: </p>
	<img src="images/UI.jpg" alt = "our_ui" width = "1324" height = "769"/> </img>
</body>
</html>